 .photo-container{
    padding:120px;
    display: flex;
    flex-direction: column;
}
.images{
    width:400px;
    height:800px;
    padding:10px;
}
.images >img:hover{
    transform: scale(1.7) ;

}
.images{
    flex-direction: row;
    
} 
.camera{
    width:40px;
    height:40px
}
.photo-head{
    display: flex;
}

